@model IEnumerable<Complain.Entities.Entities.Category>
@{
    Layout = null;
}

@foreach (var item in Model)
{
    <a class="dropdown-item" href="~/Category/ComplainCategory/@item.Id">@item.Name</a>
}
