@model IEnumerable<Complain.Entities.Entities.Category>
@{
    Layout = null;
}

@foreach (var item in Model)
{
    <li><a href="~/Category/OfferCategory/@item.Id">@item.Name <span>@item.Products.Count()</span></a></li>
}