@model IEnumerable<Complain.Entities.Entities.Category>
@{
    Layout = null;
}

@foreach (var item in Model)
{
    <div class="col-md-6">
        <div class="block-18 d-flex align-items-center">
            <div class="icon mr-4">
                <span class="icon ui-autocomplete"></span>
            </div>
            <div class="text">
                <strong data-number="@item.Products.Count()">@item.Products.Count()</strong>
                <span>@item.Name şikayeti</span>
            </div>
        </div>
    </div>
}